.shop {
  width: 100%;
  background: url("/images/bg.jpg");
  height: 40vh;
  background-attachment: fixed;
}
.shop__text {
  height: 40vh;
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
}
.shop__text h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.5px;
}
.shop__btn {
  margin-bottom: 20px;
  margin-top: 20px;
}
