/* .clients {
  margin-bottom: 100px;
}

.about__btn {
  margin-top: 35px;
  display: inline;
  cursor: pointer;
  background: rgb(255, 69, 79);
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  font-size: 12px;
  padding: 20px 40px;
} */
